.showcase-div{
    padding-left: 6rem;
}

.showcase span{
    background-color: #ece6dd;
    border-radius: 50%;
    background-size: 50%;
}

body{
    background: url("/static/image/background.png");
      /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}