<!DOCTYPE html> {% load static %}
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static 'css/showcase.css' %}">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'showcase' %}">Portfolio <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'show' %}" tabindex="-1">Schedule</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="padding-nav"></div>

    <div class="showcase-div">
        <div class="h-25 d-inline-block" style="width: 200px;">
            <div class="h-25 d-inline-block" id='inside-showcase' style="width: 200px; background-color: #ece6dd">
                <h2 style='text-align: center'> <span>Contact</span> </h2>
            </div>
            <hr>
        </div>
    </div>
    <div class="padding-doang"></div>

    <div class="container">
        <h3> Hit me up! <a href="mailto:nadiaadilahr14@gmail.com?Subject=Hello%20There">nadiaadilahr14@gmail.com </a>
        </h3>
        <div style="padding-top: 1rem"></div>

        <div class="row">
            <div class="col-2 d-flex alig-stretch">
                <img src="https://www.konfest.com/wp-content/uploads/2019/05/Konfest-PNG-JPG-Image-Pic-Photo-Free-Download-Royalty-Unlimited-clip-art-sticker-logo-social-icon-media-instagram-red-yellow-purple-blue-4.png" class="card-img-top" alt="...">

            </div>
            <div class="col-2 d-flex alig-stretch">

                <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" class="card-img-top" alt="...">

            </div>
            <div class="col-2 d-flex alig-stretch">
                <img src="https://cdn.freebiesupply.com/logos/large/2x/behance-1-logo-png-transparent.png" class="card-img-top" alt="...">
            </div>
            <div class="col-2 d-flex alig-stretch">
                <div class="card" style="width: 10rem;">
                    <img src="https://miro.medium.com/max/390/1*emiGsBgJu2KHWyjluhKXQw.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-2 d-flex alig-stretch">
                <img src="https://seeklogo.net/wp-content/uploads/2016/11/dribbble-logo-preview.png" class="card-img-top" alt="...">
            </div>
            <div class="col-2 d-flex alig-stretch">

                <img src="http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19751.png" class="card-img-top" alt="...">

            </div>
        </div>
        <div style="padding-bottom: 25%">

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>