<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title> catsa </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" 
   rel="stylesheet">
</head>

  <body>
    <div id="header" class="section">
      <img src="{% static 'image/Header.jpg' %}" class="firstpic" alt="Photo from LRT station">
    </div>

    <div class="about-me">
      <h1><span>About Me</span></h1>
      <p class="text"><span>Hallo namaku <strong>Nadia</strong>, salah satu mahasiswa 
        Sistem Informasi CSUI 2018. Hobiku melukis dengan media cat air
        dan gouache. Saya senang mempelajari hal baru meskipun tidak selalu 
        berhasil di percobaan pertama.
      </span> </p>
    
    </div>            

  </body>
</html>