<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'showcase' %}">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'show' %}">Schedule</a>
            </li>
        </ul>
    </div>
</nav>
<div class="padding-nav"></div>

<div>
    <div class="container">
        <div class="row">
            <div class="col"><img src="{% static 'image/a.jpg' %}" class="mypic" alt="My image">
            </div>
            <div class="col">
                <h1 id="nama"> Nadia Adilah Rahimullah </h1>
                <p class="quotes"> “Heads up, shoulders back, let’s see what you and I are made of” </p>
                <p class="desc">20 yo, Information System undergraduate. Interested in UX Research. </p>
            </div>
        </div>
        <div class="padding-line"></div>
        <div class="row">
            <div class="col">
                <hr class="lineborder">
            </div>
        </div>
        <div class="padding-icon"></div>
        <div class="row" align="center">
            <div class="col-4">
                <img src="{% static 'image/portfolio.png' %}" alt="Portfolio" alt="Portfolio" class="portfolio">
                <h3> Portfolio</h3>
            </div>
            <div class="col-4" id="icon-color">
                <img src="{% static 'image/contact.jpg' %}" alt="Portfolio" alt="Portfolio" class="portfolio">
                <h3>Contact</h3>
            </div>
            <div class="col-4" id="icon-color">
                <img src="{% static 'image/blog.png' %}" alt="Portfolio" alt="Portfolio" class="portfolio">
                <h3> Portfolio</h3>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>