.mypic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    block-size: 250px;
    border: 3px solid white;
    border-radius: 50%;
    size: 3ch;
    position: sticky;
}

body{
    background: url("/static/image/background.png");
      /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#nama {
    font-family: EB Garamond, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 63px;
    position: sticky;
}

.quotes {
    font-family: EB Garamond, sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 17px;
    position: sticky;
}

.desc {
    font-family: EB Garamond, serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    position: sticky;
}

.padding-nav {
    padding-top: 50px;
}

.padding-icon{
    padding-top: 2rem;
}
.lineborder {
    border-top: 7px solid #F2F3F4;
    border-radius: 20px;
    width: 90%;
}

.portfolio {
    width: 70%;
    height: 70%;
    object-fit: contain;
    background-color: #ece6dd;
    border-radius: 20%;
}
#icon-button {
    min-height: 100%;
    display: flex;
    justify-content: center;
}
