.showcase-div {
    padding-left: 6rem;
}

#inside-showcase {
    border-radius: 20px;
}

body {
    background: url("/static/image/background.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-nav {
    padding-top: 50px;
}

.padding-doang {
    padding-top: 1rem;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}