html{
  margin: 2cm;
  padding: 2cm;
}
h1{
  font-family: 'Slabo 27px', serif;
  font-size: 40pt;
  color: #000000;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 18px 0;
}
.about-me{
  padding: 15px;
  color: #000000;
}
.firstpic{
  margin-left: auto;
  margin-right: auto;
  display: block;
  block-size: 200px;
  border:3px solid white;
  border-radius:50%;
  size: 3ch;
}
.text{
  font-size: 20pt;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

body{
  background-color: rgb(212, 169, 169);
  color:#4444;
}
